@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");

#large-image-section {
  margin-top: -20px; /* Adjust the margin-top to create space below the menu */
}

#large-image-section img {
  width: 100%; /* Adjust the percentage as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}
.main-container {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-radius: 20px;
  background-color: #c9a2ea;
}

/* Quadrado maior (imagem grande) */
#large-image-section {
  background-color: #6834A9; /* Cor lilás desejada */

}

/* Quadrados com texto */
.sub-column {
  background-color: #fff; /* Cor branca */
  color: #000; /* Cor do texto dentro do quadrado com texto */
}

/* Botão de agendar */
.custom-button {
  background-color: #6834A9; /* Mantém a cor do botão como está */
}


.column {
  flex: 1;
  padding: 20px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-column {
  flex: 1;
  width: 500px; /* Set your desired width */
  height: 150px; /* Set your desired height */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.custom-button {
  display: flex;
  align-items: center;
  padding: 15px; /* Increase padding for more thickness */
  background-color: #6834A9;
  color: white;
  border: 2px solid white; /* Increase border thickness */
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px; /* Increase font size */
}


.button-image {
  max-width: 20px; /* Set your desired image width */
  margin-right: 10px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  order: 2; /* Muda a ordem do título para aparecer abaixo da imagem */
}

.text {
  padding: 10px;
  order: 3; /* Muda a ordem do texto para aparecer abaixo do título */
}

.image {
  max-width: 100%;
  height: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  order: 1; /* Muda a ordem da imagem para aparecer acima do título e do texto */
}

.mark-button {
  position: absolute;
  top: 50%;
  right: 10px; /* Distância desejada da borda direita */
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid purple;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.marked {
  background-color: purple;
  color: white;
}

.logo-container a {
  text-decoration: none; /* Remove underline for the anchor */
  color: inherit; /* Inherit text color from the parent */
  display: flex;
  align-items: center;
}

#botoesMenu .button-menu {
  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
  font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
}

.image {
  max-width: 10%; /* Defina a largura máxima desejada, pode ajustar conforme necessário */
  height: auto;
}

.conteudo-icone{display: flex;
align-items: center;}


























/*Tablet*/
@media screen and (max-width: 900px) {
  .fa-solid{
    height: 50px;
    width: 50px;
    font-size: 30px;
    bottom: 0;
  }
  img{
    max-width: 300px;
    max-height: 300px;

  }
  .nome-do-prato{
    font-size: 200%;
    line-height: 100%;
  }
  li{
    font-size: 80%;
  }
  h2{
    font-size: 300%;
  }
}

/*Celular*/
@media screen and (max-width: 600px) {
  .fa-solid{
    margin-bottom: 7%;
    margin-right: 40%;
  }
  h2{
    font-size: 250%;
    margin-top: 20%;
    line-height: 90%;
  }
  h1{
    text-align: center;
    font-size: 500%;
  }
  .mySlides{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .dot{
    margin-top: 12%;
    height: 10px;
    width: 10px;
  }
  img{
    padding-right: 15%;
    max-width: 250px;
    max-height: 250px;
    padding-top: 6%;
  }
  .nome-do-prato{
    line-height: 100%;
  }
  li{
    font-size: 100%;
  }
  ul{
    padding-left: 5%;
  }
}

/*para celular menor que 295px de largura*/
@media screen and (max-width: 295px){
  .dot{
    height: 8px;
    width: 8px;
  }
}

footer{
  background-color: #6834A9;
  position: absolute;
  right: 0;
  left: 0;
  margin-top:64cm;
  padding: 0.5em;
}
.footer{
  max-width: 1200px;
  margin: auto;
}
.row-footer{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
  margin-left: 7%;
  margin-top: 2%;
}

.footer-col ul{
  list-style: none;
}
.footer-col ul li{
  margin: 20px 0;
}
.footer-col ul li a{
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-col .redes-sociais{
  margin-top: 60px;
}
.footer-col .redes-sociais a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 60%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}
.footer-col .redes-sociais a i{
  font-size: 25px;
}

.footer-col .form-sub input::placeholder{
  color: white;
}
#linha-footer{
  background-color: #73b3dd;
  border: 5px solid #82bfe2;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
}
