/* Estilos para a barra do footer */
.footer-bar {
    background: #6834A9;
    padding: 0;
    padding-bottom: 20px;
}

/* Estilos gerais para o elemento footer */
main{
    min-height: 73vh;
}
footer {
    color: #E9678F;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: normal;
    position: relative;
    bottom: 0;
    width: 106%;
}

/* Estilos específicos para o grid do footer usando a classe .pure-g */
.pure-g.footer-bar {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    color: #FFAFC8;
    max-width: 100vw;
    align-items: center;
    align-content: center;
    height: 100;
}

/* Estilos para os ícones de redes sociais no footer */

.icon-social {
    max-width: 50px;
    margin: 10px;
}

/* Estilos para os links no footer */
a {
    text-decoration: none;
    color: white;
}

/* Estilos para os ícones e texto no footer */
.icon-footer {
    display: flex;
    align-items: center;
}

.barrinha{
    margin-top: 20px;
    background-color: #A6DAF6;
    height: 10px;
    width: 100vw;
    margin-bottom: 30px;
}

.logo{
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}
.logo-container{
    display: flex;
    justify-content: flex-end;
}

.menu2 {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
    margin: 20px 0px;
    justify-content: flex-start;
    gap: 5px;
}
@media screen and (max-width: 768px) {
    .logo-container{
        justify-content: center;
    }
    .footer-bar {
        gap: 20px;
    }
    .barrinha{
        margin-bottom: 10px;
    }
}